*{
    margin:0;
    padding:0;
}

h1{
    color:rgb(0, 0, 0);
    text-align: center;
}

body{
    background-color: w;
    font-family: Arial, Helvetica, sans-serif;

}

.section{
    margin-bottom:30px;
}

ul{
    color:deeppink;
}

p{
    color:rgb(0, 0, 0);
}

a{
    color:rgb(0, 42, 252)
}



a:hover{
    color:darkkhaki;
    font-size: 15pt;
    transition:50ms;
}

img:hover{
    transform:rotate(-5deg);
    transition:50ms;
}

img{
    width:100%;
}

.box{
    border:rgb(255, 255, 255) solid 3px;
    padding: 50px 50px;
    margin: auto;
    max-width: 500px;
    box-sizing:border-box;
    text-align: justify;
}

h3{
    padding-bottom:8px;
}


/*Pie Section*/

.yearofpie{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    row-gap:10px;
}

.card{
    padding:5px 0;
    width: 80px;
    height: 100px;
    border:red solid 1px;
    align-items:center;
    text-align:center;
}

.month{
    font-size:14px;
    text-align:center;
}

.flavor{
    font-size:10px;
}

.nopie{
    background-color:rgb(183, 183, 183);
    height:70px;
    width:70px;
    border-radius:50%;
    vertical-align:center;
    font-size:60px;
    line-height:70px;
    color:white;
    margin:auto;
}

.pie{
    height:66px;
}

.february{
    background-color:rgb(183, 183, 183);
    height:70px;
    width:70px;
    border-radius:50%;
    vertical-align:center;
    font-size:60px;
    line-height:70px;
    color:white;
    margin:auto;
}

.footnote{
    padding-top:10px;
    font-size:10px;
    text-indent:20px;
}
/*----------*/
